################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Traducteur FrancoJaponais.slnx/FileContentIndex/2908f6bc-f7c9-4b67-aeff-6660a481022e.vsidx
/.vs/Traducteur FrancoJaponais.slnx/FileContentIndex/4a88fd6d-91b2-4f5c-acdd-2ab5b1b6af10.vsidx
/.vs/Traducteur FrancoJaponais.slnx/FileContentIndex/bd3b06fa-7a41-4ba7-b4cb-661459644512.vsidx
/.vs/Traducteur FrancoJaponais.slnx/FileContentIndex/be8f1825-8698-49f1-8340-fddf8a568843.vsidx
/.vs/Traducteur FrancoJaponais.slnx/v18/.suo
/Traducteur FrancoJaponais/bin/
/Traducteur FrancoJaponais/obj/
/.vs/Traducteur FrancoJaponais.slnx/FileContentIndex/1665dd6c-a249-4ab3-911e-4c21a68e96cd.vsidx
/.vs/Traducteur FrancoJaponais.slnx/FileContentIndex/34d2390a-c246-4229-ad44-9a8e5db55097.vsidx
/.vs/Traducteur FrancoJaponais.slnx/FileContentIndex/368de222-96e8-41e9-9ea0-cc16760ef26d.vsidx
/.vs/Traducteur FrancoJaponais.slnx/FileContentIndex/646d7632-62dc-4c3b-bf68-bc867415c137.vsidx
/.vs/Traducteur FrancoJaponais.slnx/FileContentIndex/8340afa5-9b24-44ec-b185-95e62ab38806.vsidx
*.vsidx
/.vs/Traducteur FrancoJaponais.slnx/DesignTimeBuild/.dtbcache.v2
/.vs/Traducteur FrancoJaponais.slnx/v18/DocumentLayout.backup.json
/.vs/Traducteur FrancoJaponais.slnx/v18/DocumentLayout.json
/.vs/
/.vs/ProjectEvaluation/traducteur francojaponais.metadata.v10.bin
/.vs/ProjectEvaluation/traducteur francojaponais.projects.v10.bin
/.vs/ProjectEvaluation/traducteur francojaponais.strings.v10.bin
/.vs/Traducteur FrancoJaponais.slnx/v18/.futdcache.v2
/DataModels/bin/
/DataModels/obj/
/DictionnaryFra_Jap/bin/
/DictionnaryFra_Jap/obj/
