################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Traducteur FrancoJaponais.slnx/FileContentIndex/2908f6bc-f7c9-4b67-aeff-6660a481022e.vsidx
/.vs/Traducteur FrancoJaponais.slnx/FileContentIndex/4a88fd6d-91b2-4f5c-acdd-2ab5b1b6af10.vsidx
/.vs/Traducteur FrancoJaponais.slnx/FileContentIndex/bd3b06fa-7a41-4ba7-b4cb-661459644512.vsidx
/.vs/Traducteur FrancoJaponais.slnx/FileContentIndex/be8f1825-8698-49f1-8340-fddf8a568843.vsidx
/.vs/Traducteur FrancoJaponais.slnx/v18/.suo
Traducteur FrancoJaponais/bin/
Traducteur FrancoJaponais/obj/
